<!DOCTYPE html>

<html ng-app="wall">
	<head>
		<title>wall.barcamp.hk</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

		<!-- build:css css/wall.min.css -->
		<link type="text/css" rel="stylesheet" href="css/libs/font-awesome.min.css">
		<link type="text/css" rel="stylesheet" href="css/wall.css">
		<!-- endbuild -->
	</head>

	<body ng-controller="WallController">
		<a class="addJob" require-login="addNewJob()"></a>

		<div class="post-count">
			<span class="post-count__count" ng-bind="totalJobs">0</span>
			<span class="post-count__text">POSTS<br>NOW</span>
		</div>

		<div class="sidebar">
			<a class="hamburger" ng-click="toggleMenu()" ng-class="{expanded: menuOpen}">
				<span></span>
				<span></span>
				<span></span>
			</a>
			<user-info class="user-info"></user-info>

			<h1>
				<a href="/">
					<span>wall.</span>
					<br>
					<span>barcamp.</span>
					<br>
					<span>hk</span>
				</a>
			</h1>
			<p>Built for startups, digital agencies and tech co's in HK looking for talent or investors. No frills, no bullshit, no fees.</p>

			<menu class="main-nav" ng-class="{expanded: menuOpen}"></menu>
		</div>

		<faq></faq>
		<login></login>

		<div class="footer">
			<a ng-click="showFaq()">FAQ</a>
			<a ng-click="scrollTop()" class="toTop">Back to top</a>
		</div>

		<div ng-view></div>

		<div class="overlay" ng-show="overlayVisible"></div>

		<!-- build:js scripts/libs.min.js -->
		<script type="text/javascript" src="scripts/libs/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="scripts/libs/angular/angular.js"></script>
		<script type="text/javascript" src="scripts/libs/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="scripts/libs/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="scripts/libs/oauth-js/dist/oauth.min.js"></script>
		<script type="text/javascript" src="scripts/libs/date.js"></script>
		<script type="text/javascript" src="scripts/libs/underscore-min.js"></script>
		<script type="text/javascript" src="scripts/libs/angular-elastic/elastic.js"></script>
		<script type="text/javascript" src="scripts/libs/masonry/dist/masonry.pkgd.min.js"></script>
		<script type="text/javascript" src="scripts/libs/modernizr/modernizr.js"></script>
		<!-- endbuild -->

		<!-- build:js scripts/partials.min.js -->
		<script type="text/javascript" src="scripts/app.js"></script>
		<!-- endbuild -->

		<!-- build:js scripts/wall.min.js -->
		<script type="text/javascript" src="scripts/app.js"></script>
		<script type="text/javascript" src="scripts/routes.js"></script>

		<script type="text/javascript" src="scripts/directives/job/job.directive.js"></script>
		<script type="text/javascript" src="scripts/directives/job/job.controller.js"></script>

		<script type="text/javascript" src="scripts/directives/user-info/user-info.directive.js"></script>
		<script type="text/javascript" src="scripts/directives/user-info/user-info.controller.js"></script>

		<script type="text/javascript" src="scripts/directives/login/login.directive.js"></script>
		<script type="text/javascript" src="scripts/directives/login/login.controller.js"></script>

		<script type="text/javascript" src="scripts/directives/menu/menu.js"></script>
		<script type="text/javascript" src="scripts/directives/menu-select/menu-select.js"></script>

		<script type="text/javascript" src="scripts/directives/masonry/masonry.directive.js"></script>
		<script type="text/javascript" src="scripts/directives/masonry/masonry.controller.js"></script>

		<script type="text/javascript" src="scripts/directives/faq/faq.directive.js"></script>
		<script type="text/javascript" src="scripts/directives/faq/faq.controller.js"></script>

		<script type="text/javascript" src="scripts/directives/infinite-scroll/infinite-scroll.directive.js"></script>

		<script type="text/javascript" src="scripts/directives/require-login/require-login.directive.js"></script>

		<script type="text/javascript" src="scripts/controllers/wallController.js"></script>
		<script type="text/javascript" src="scripts/controllers/jobsController.js"></script>
		<script type="text/javascript" src="scripts/controllers/jobsDetailController.js"></script>
		<script type="text/javascript" src="scripts/controllers/notFoundController.js"></script>

		<script type="text/javascript" src="scripts/services/data.js"></script>
		<script type="text/javascript" src="scripts/services/login.js"></script>
		<script type="text/javascript" src="scripts/services/config.js"></script>
		<!-- endbuild -->
	</body>
</html>