<!DOCTYPE html>

<html ng-app="wall">
	<head>
		<title>wall.barcamp.hk</title>

		<link type="text/css" rel="stylesheet" href="css/libs/font-awesome.min.css">
		<link type="text/css" rel="stylesheet" href="css/wall.css">
	</head>

	<body ng-controller="WallController as wallCtrl">
		<a href="#" class="addJob" ng-click="addJobCtrl.addNewJob()" ng-controller="AddJobController as addJobCtrl"></a>

		<menu></menu>

		<div class="jobs" ng-controller="JobsController as jobsCtrl">
			<job ng-repeat="job in jobsCtrl.jobs"></job>
		</div>

		<script type="text/javascript" src="scripts/libs/angular/angular.js"></script>
		<script type="text/javascript" src="scripts/libs/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="scripts/libs/oauth-js/dist/oauth.min.js"></script>
		<script type="text/javascript" src="scripts/app.js"></script>
		<script type="text/javascript" src="scripts/job/job.js"></script>
		<script type="text/javascript" src="scripts/login/login.js"></script>
		<script type="text/javascript" src="scripts/menu/menu.js"></script>
		<script type="text/javascript" src="scripts/controllers/jobsController.js"></script>

		<script type="text/javascript" src="scripts/services/data.js"></script>
	</body>
</html>