body {
  font-family: "Courier New", Courier, monospace;
  background-image: url('../img/tiledBg_small.png'); }

.jobs {
  margin-left: 220px; }

a {
  cursor: pointer; }

.post-count {
  width: 80px;
  height: 83px;
  position: fixed;
  top: -10px;
  left: 180px;
  z-index: 400;
  background: url(../img/postCountBg.png);
  text-align: center;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  transform: rotate(-10deg); }

.post-count__count {
  font-size: 22px;
  font-family: chunk-1, chunk-2;
  color: #3e3e3e;
  display: block;
  margin: 20px 0 0 0; }

.post-count__text {
  font-size: 10px;
  color: #ababab;
  display: block; }

.job-container {
  float: left; }

.job-detail {
  max-width: 450px;
  width: 100%;
  margin: 90px auto 0; }
  .job-detail .job-container {
    float: none; }
  .job-detail .job {
    width: 100%;
    margin: 0; }
  .job-detail .job__body {
    font-size: 23px;
    line-height: 28px; }
  .job-detail .job__date {
    font-size: 18px; }

.job {
  position: relative;
  box-sizing: border-box;
  width: 250px;
  height: auto;
  margin: 0 0 27px 20px;
  color: #444444;
  font-size: 13px;
  border: 1px solid #9a9a9a;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
  .job.editting {
    z-index: 200; }
  .job:hover .job__toolbar {
    display: block; }
  .job a {
    cursor: pointer; }
  .job strong {
    font-weight: 700; }
  .job u {
    text-decoration: underline; }
  .job i {
    font-size: italic; }
  @media screen and (max-width: 321px) {
    .job {
      width: 210px; } }

.job__inner {
  border-top: 2px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  padding: 45px 25px 20px 25px; }

.job__body {
  word-wrap: break-word;
  white-space: pre-wrap; }
  .job__body a {
    color: #444444; }
    .job__body a:hover {
      color: white; }

.job__create-btn {
  font-size: 11px;
  text-decoration: none;
  color: #444444;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  background-color: white;
  border-bottom: 1px solid black;
  border-right: 1px solid black; }
  .job__create-btn:hover {
    color: black; }

.job__cancel-btn {
  font-size: 11px;
  text-decoration: underline; }
  .job__cancel-btn:hover {
    color: white; }

.job__chars, .job__date {
  font-size: 11px;
  color: #444444;
  display: block; }

.job__date {
  margin: 50px 0 0 0; }

.job__chars {
  margin: 0px 0px 15px 0px; }

.job__input {
  resize: none;
  outline: none;
  width: 100%;
  margin: 20px 0;
  border: none;
  background: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px; }
  .job__input:focus {
    -webkit-transition: height 100ms ease-in-out;
    -moz-transition: height 100ms ease-in-out;
    transition: height 100ms ease-in-out; }

.jobs__format-tip {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #fff;
  margin: 20px -15px 0 0;
  padding: 5px;
  display: inline-block;
  font-size: 13px;
  line-height: 12px;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  float: right; }

.job__format-tips {
  clear: both;
  font-size: 11px;
  line-height: 15px;
  color: black;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 500ms ease-in-out;
  -moz-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out; }
  .job__format-tips.expanded {
    max-height: 250px; }

.job__toolbar {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 32px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2); }
  .job__toolbar ul, .job__toolbar li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .job__toolbar ul {
    text-align: center; }
  .job__toolbar li {
    width: 25px;
    text-align: center;
    display: inline-block;
    padding-top: 9px;
    margin: 0 10px; }
  .job__toolbar a {
    color: #333;
    font-size: 16px; }
    .job__toolbar a:hover {
      color: #fff; }

.job__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white; }
  .job__overlay .inner {
    padding: 20px; }

.job--hiring {
  background-color: #f4e13d; }
  .job--hiring:hover {
    background-color: #f8eb85; }

.job--looking-for-a-job {
  background-color: #bdd929; }
  .job--looking-for-a-job:hover {
    background-color: #d2e56a; }

.job--investors-seeking-startups {
  background-color: #ffac4f; }
  .job--investors-seeking-startups:hover {
    background-color: #ffcf9b; }

.job--startups-seeking-investors {
  background-color: #cd80c2; }
  .job--startups-seeking-investors:hover {
    background-color: #e3b7dd; }

.job--everything-else {
  background-color: #6bd0e5; }
  .job--everything-else:hover {
    background-color: #ace5f0; }

.job--admin-notice {
  background-color: #f25a95; }
  .job--admin-notice:hover {
    background-color: #f8a1c4; }

.addJob {
  display: block;
  width: 132px;
  height: 132px;
  position: fixed;
  top: 35px;
  right: 35px;
  z-index: 100;
  cursor: pointer;
  background: url('../img/addJob.png') center center no-repeat;
  background-size: 110px 110px;
  -webkit-transition: background-size 0.2s ease-in-out;
  -moz-transition: background-size 0.2s ease-in-out;
  -o-transition: background-size 0.2s ease-in-out;
  transition: background-size 0.2s ease-in-out; }
  .addJob:hover {
    background-size: 132px 132px;
    background: url('../img/addJob_hover.png') center center no-repeat; }

.sidebar {
  position: fixed;
  left: 0px;
  top: 20px; }
  .sidebar h1 {
    margin-left: 20px; }
    .sidebar h1 a {
      font-family: chunk-1, chunk-2;
      color: #f25a95;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 29px;
      line-height: 30px; }
      .sidebar h1 a span {
        padding: 5px; }
      .sidebar h1 a:hover span {
        background-color: #f25a95;
        color: white; }
  .sidebar p {
    display: block;
    width: 190px;
    margin-left: 20px;
    font-size: 13px;
    line-height: 17px; }

.main-nav {
  margin: 0px;
  padding: 0px; }

.navigation {
  margin: 0px;
  padding: 0px; }
  .navigation li {
    list-style: none; }
  .navigation a {
    display: inline-block;
    border: 1px solid #cdcdcd;
    border-left: none;
    padding: 17px 50px 12px 20px;
    margin: 0 0 2px 0;
    font-family: Helvetica Neue LT Std, Helvetica, Arial;
    font-size: 16px;
    color: black;
    text-decoration: none; }
    .navigation a:hover {
      color: white; }

.user-info {
  margin: 0 0 0 20px;
  display: block; }
  .user-info:after {
    content: '';
    display: block;
    clear: both; }

.user-image {
  width: 22px;
  height: 22px;
  float: left; }

.user-name {
  float: left;
  width: 190px;
  padding: 6px 0 0 10px;
  font-size: 11px; }
  .user-name > a {
    display: none;
    color: #f25a95; }
  .user-name:hover > span {
    display: none; }
  .user-name:hover > a {
    display: block; }

.footer {
  position: fixed;
  bottom: 25px;
  left: 20px;
  font-size: 13px; }
  .footer a:first-child {
    border-right: 1px solid black;
    padding-right: 10px; }
  .footer a:hover {
    text-decoration: underline; }
  .footer a.toTop {
    background: url(../img/toTop.png) center left no-repeat;
    padding-left: 10px;
    margin-left: 10px; }

.login {
  width: 620px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 85px 125px;
  z-index: 510;
  background-image: url('../img/tiledBg_small.png');
  box-sizing: border-box;
  text-align: center; }
  .login h1 {
    margin: 0 0 50px 0;
    padding: 0px;
    font-family: 'Helvetica';
    font-size: 35px;
    font-weight: 700;
    color: #464646; }

.faq {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 510;
  box-sizing: border-box;
  margin: auto;
  padding: 50px 50px 30px 50px;
  width: 830px;
  height: 620px;
  background-color: #f25a95;
  border: 1px solid #9a9a9a; }
  .faq h1 {
    margin: 0 0 30px 0;
    padding: 0px;
    font-size: 30px;
    font-family: chunk-1, chunk-2;
    color: white;
    text-transform: uppercase; }
  .faq h2 {
    font-size: 13px;
    color: white;
    padding-top: 20px;
    border-top: 1px solid black; }
  .faq p {
    font-size: 13px;
    margin: 0 0 30px 0; }
    .faq p a {
      color: black;
      text-decoration: underline; }
      .faq p a:hover {
        color: white; }
  .faq .left {
    width: 374px;
    float: left; }
  .faq .right {
    width: 283px;
    float: right; }

.faq__org {
  height: 80px;
  margin-bottom: 20px; }
  .faq__org img {
    cursor: pointer;
    float: left;
    margin-right: 20px;
    border: 5px solid rgba(38, 35, 35, 0); }
    .faq__org img:hover {
      border: 5px solid #262323; }
  .faq__org p {
    float: left;
    color: #994666;
    margin: 10px 0 0 0; }

.faq__site {
  clear: both;
  display: block;
  width: 132px;
  height: 24px;
  background: url(../img/siteBy.png) 0px 0px; }
  .faq__site:hover {
    background-position: 0px 24px; }

.faq__org-large {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 510;
  box-sizing: border-box;
  margin: auto;
  background-color: #262323;
  padding: 20px;
  width: 830px;
  height: 611px; }
  .faq__org-large img {
    width: 790px;
    height: 571px; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
