body {
  font-family: "Courier New", Courier, monospace;
  background-image: url('../img/tiledBg_small.png'); }

.job {
  position: relative;
  box-sizing: border-box;
  width: 250px;
  height: auto;
  margin: 0 0 27px 20px;
  color: #444444;
  font-size: 13px;
  border: 1px solid #9a9a9a;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
  .job:hover .job__toolbar {
    display: block; }
  .job a {
    cursor: pointer;
    color: #444444; }
  .job strong {
    font-weight: 700; }
  .job u {
    text-decoration: underline; }
  .job i {
    font-size: italic; }

.job__inner {
  border-top: 2px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  padding: 45px 25px 20px 25px; }

.job__create-btn {
  font-size: 11px;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  background-color: white;
  border-bottom: 1px solid black;
  border-right: 1px solid black; }
  .job__create-btn:hover {
    color: black; }

.job__cancel-btn {
  font-size: 11px;
  text-decoration: underline; }
  .job__cancel-btn:hover {
    color: white; }

.job__chars, .job__date {
  font-size: 11px;
  color: #444444;
  display: block; }

.job__date {
  margin: 50px 0 0 0; }

.job__chars {
  margin: 0px 0px 15px 0px; }

.job__input {
  resize: none;
  outline: none;
  width: 100%;
  margin: 20px 0;
  border: none;
  background: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px; }
  .job__input:focus {
    -webkit-transition: height 100ms ease-in-out;
    -moz-transition: height 100ms ease-in-out;
    transition: height 100ms ease-in-out; }

.jobs__format-tip {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #fff;
  margin: 20px -15px 0 0;
  padding: 5px;
  display: inline-block;
  font-size: 13px;
  line-height: 12px;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  float: right; }

.job__format-tips {
  clear: both;
  font-size: 11px;
  line-height: 15px;
  color: black;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 500ms ease-in-out;
  -moz-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out; }
  .job__format-tips.expanded {
    max-height: 250px; }

.job__toolbar {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 32px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2); }
  .job__toolbar ul, .job__toolbar li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .job__toolbar ul {
    text-align: center; }
  .job__toolbar li {
    width: 25px;
    text-align: center;
    display: inline-block;
    padding-top: 9px;
    margin: 0 10px; }
  .job__toolbar a {
    color: #333;
    font-size: 16px; }
    .job__toolbar a:hover {
      color: #fff; }

.job--hiring {
  background-color: #f4e13d; }
  .job--hiring:hover {
    background-color: #f8eb85; }

.job--looking-for-a-job {
  background-color: #bdd929; }
  .job--looking-for-a-job:hover {
    background-color: #d2e56a; }

.job--investors-seeking-startups {
  background-color: #ffac4f; }
  .job--investors-seeking-startups:hover {
    background-color: #ffcf9b; }

.job--startups-seeking-investors {
  background-color: #cd80c2; }
  .job--startups-seeking-investors:hover {
    background-color: #e3b7dd; }

.job--everything-else {
  background-color: #6bd0e5; }
  .job--everything-else:hover {
    background-color: #ace5f0; }

.job--admin-notice {
  background-color: #f25a95; }
  .job--admin-notice:hover {
    background-color: #f8a1c4; }

.addJob {
  display: block;
  width: 132px;
  height: 132px;
  position: fixed;
  top: 35px;
  right: 35px;
  z-index: 100;
  cursor: pointer;
  background: url('../img/addJob.png') center center no-repeat;
  background-size: 110px 110px;
  -webkit-transition: background-size 0.2s ease-in-out;
  -moz-transition: background-size 0.2s ease-in-out;
  -o-transition: background-size 0.2s ease-in-out;
  transition: background-size 0.2s ease-in-out; }
  .addJob:hover {
    background-size: 132px 132px;
    background: url('../img/addJob_hover.png') center center no-repeat; }

.sidebar {
  position: fixed;
  z-index: 100;
  left: 20px;
  top: 20px; }
  .sidebar h1 a {
    color: #f25a95;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 29px;
    line-height: 30px; }
    .sidebar h1 a span {
      padding: 5px; }
    .sidebar h1 a:hover span {
      background-color: #f25a95;
      color: white; }
  .sidebar p {
    display: block;
    width: 190px;
    font-size: 13px;
    line-height: 17px; }
