body {
	font-family: "Courier New", Courier, monospace;

	background-image: url('../img/tiledBg_small.png');
	margin: 0;
	padding: 0;
}

.jobs {
	margin: 27px 0 0 220px;

	@media (max-device-width: 736px) {
		margin-left: 0px;
	}
}

a {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.post-count {
	width: 80px;
	height: 83px;

	position: fixed;
	top: -10px;
	left: 180px;
	z-index: 400;

	background: url(../img/postCountBg.png);

	text-align: center;

	-webkit-transform: rotate(-10deg);
	   -moz-transform: rotate(-10deg);
	        transform: rotate(-10deg);

	@media (max-device-width: 736px) {
		display: none;
	}
}
	.post-count__count {
		font-size: 22px;
		font-family: 'Slabo 27px', serif;
		color: rgb(62, 62, 62);

		display: block;
		margin: 20px 0 0 0;
	}
	.post-count__text {
		font-size: 10px;
		color: rgb(171, 171, 171);

		display: block;
	}