.job-container {
	float: left;
	
	box-sizing: border-box;
	padding: 0 0 27px 20px;

	opacity: 0;

	&.ready {
		opacity: 1;
	}

	@media (max-device-width: 1024px) {
		width: 33%;
	}
	@media (max-device-width: 768px) {
		width: 50%;
	}
	@media (max-device-width: 736px) {
		width: 50%;
	}
	@media (max-device-width: 568px) {
		float: none;

		width: 100%;
		padding: 0 0 10px 0;
	}
}

.job-detail {
	max-width: 450px;
	width: 100%;

	margin: 90px auto 0;

	.job-container {
		float: none;
	}

	.job {
		width: 100%;
		margin: 0;
	}

	.job__body {
		font-size: 23px;
		line-height: 28px;
	}
	.job__date {
		font-size: 18px;
	}
}

.job {
	position: relative;
	box-sizing: border-box;

	width: 250px;
	height: auto;

	color: rgb(68, 68, 68);
	font-size: 13px;

	border: 1px solid rgb(154, 154, 154);

	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

	&.editting {
		z-index: 510 !important;
	}

	&:hover {
		.job__toolbar {
			display: block;
		}
	}

	a {
		cursor: pointer;
	}
	strong {
		font-weight: 700;
	}
	u {
		text-decoration: underline;
	}
	i {
		font-size: italic;
	}

	@media (max-device-width: 1024px) {
		width: 100%;
		max-width: 250px;
	}
	@media (max-device-width: 568px) {
		margin: 0 auto;
	}
}
	.job__inner {
		border-top: 2px solid rgba(255, 255, 255, 0.7);
		border-bottom: 1px solid rgba(0, 0, 0, 0.9);
		padding: 45px 25px 20px 25px;
	}
	.job__body {
		word-wrap: break-word;
		white-space: pre-wrap;

		a {
			color: rgb(68, 68, 68);

			&:hover {
				color: rgb(255, 255, 255);
			}
		}
	}

	.job__post-options {

	}
		.job__create-btn {
			font-size: 11px;
			text-decoration: none;
			color: rgb(68, 68, 68);

			padding: 5px 10px;
			margin: 0 10px 0 0;
			background-color: rgb(255, 255, 255);

			border-bottom: 1px solid rgb(0, 0, 0);
			border-right: 1px solid rgb(0, 0, 0);

			&:hover {
				color: rgb(0, 0, 0);
			}
		}
		.job__cancel-btn {
			font-size: 11px;
			text-decoration: underline;

			&:hover {
				color: rgb(255, 255, 255);
			}
		}

	.job__chars,
	.job__date {
		font-size: 11px;
		color: rgb(68, 68, 68);
		display: block;
	}
	.job__date {
		margin: 50px 0 0 0;
	}
	.job__chars {
		margin: 0px 0px 15px 0px;
	}
	.job__input {
		resize: none;
		outline: none;

		width: 100%;
		margin: 20px 0;

		border: none;
		background: none;

		font-family: "Courier New", Courier, monospace;
		font-size: 13px;

		&:focus {
			@include transition(height 100ms ease-in-out);
		}

		&::-webkit-input-placeholder {
			color: rgb(0, 0, 0);
		}
		&:-moz-placeholder {
			color: rgb(0, 0, 0);
		}
		&::-moz-placeholder {
			color: rgb(0, 0, 0);
		}
		&:-ms-input-placeholder {
			color: rgb(0, 0, 0);
		}
	}
	.jobs__format-tip {
		width: 10px;
		height: 10px;

		border-radius: 10px;
		background-color: #fff;

		margin: 20px -15px 0 0;
		padding: 5px;
		display: inline-block;

		font-size: 13px;
		line-height: 12px;
		text-align: center;
		text-decoration: none;

		border-bottom: 1px solid rgb(0, 0, 0);
		border-right: 1px solid rgb(0, 0, 0);
		float: right;
	}
	.job__format-tips {
		clear: both;

		font-size: 11px;
		line-height: 15px;
		color: rgb(0, 0, 0);

		max-height: 0px;
		overflow: hidden;

		@include transition(max-height 500ms ease-in-out);

		&.expanded {
			max-height: 250px;
		}
	}
	
	.job__toolbar {
		display: none;

		position: absolute;
		top: 0px;
		left: 0px;

		height: 32px;
		width: 100%;

		background-color: rgba(0, 0, 0, 0.2);

		ul, li {
			list-style: none;

			margin: 0;
			padding: 0;
		}

		ul {

			text-align: center;
		}

		li {
			width: 25px;
			text-align: center;
			display: inline-block;

			padding-top: 9px;
			margin: 0 10px;
		}

		a {
			color: #333;
			font-size: 16px;

			&:hover {
				color: #fff;
			}
		}

		/* Always display on mobile device */
		@media (max-device-width: 1024px) {
			display: block;
		}
	}

	.job__overlay {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		background-color: rgba(0, 0, 0, 0.6);

		color: rgb(255, 255, 255);

		.inner {
			padding: 20px;
		}
	}

	// Different post types
	.job--hiring {
		background-color: $job-hiring;

		&:hover {
			background-color: lighten($job-hiring, $lighten-hover);
		}
	}
	.job--looking-for-a-job {
		background-color: $job-looking-for-a-job;

		&:hover {
			background-color: lighten($job-looking-for-a-job, $lighten-hover);
		}
	}
	.job--investors-seeking-startups {
		background-color: $job-investors-seeking-startups;

		&:hover {
			background-color: lighten($job-investors-seeking-startups, $lighten-hover);
		}
	}
	.job--startups-seeking-investors {
		background-color: $job-startups-seeking-investors;

		&:hover {
			background-color: lighten($job-startups-seeking-investors, $lighten-hover);
		}
	}
	.job--everything-else {
		background-color: $job-everything-else;

		&:hover {
			background-color: lighten($job-everything-else, $lighten-hover);
		}
	}
	.job--admin-notice {
		background-color: $job-admin-notice;

		&:hover {
			background-color: lighten($job-admin-notice, $lighten-hover);
		}
	}