.sidebar {
	position: fixed;
	z-index: 100;

	left: 20px;
	top: 20px;

	h1 {
		a {
			color: $job-admin-notice;
			text-decoration: none;
			text-transform: uppercase;	

			font-size: 29px;
			line-height: 30px;

			span {
				padding: 5px;
			}

			&:hover span {
				background-color: $job-admin-notice;
				color: rgb(255, 255, 255);
			}
		}
	}

	p {
		display: block;
		width: 190px;

		font-size: 13px;
		line-height: 17px;
	}
}