$job-hiring: rgb(244, 225, 61);
$job-looking-for-a-job: rgb(189, 217, 41);
$job-investors-seeking-startups: rgb(255, 172, 79);
$job-startups-seeking-investors: rgb(205, 128, 194);
$job-everything-else: rgb(107, 208, 229);
$job-admin-notice: rgb(242, 90, 149);

$lighten-hover: 15%;